<div>
  <div class="container">
    <div class="row section">
      <div class="col-12 col-sm-5 contact-card">
      </div>
      <div class="col-12 col-sm-7 p-5 margin-auto">
        <p class="title text-center">Connect with us to get started</p>

        <ng-container *ngIf="!success">
          <form (ngSubmit)="submit()" [formGroup]="contactForm">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <input formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.name.errors || errors.name) }"
                    placeholder="YOUR FULL NAME" />
                  <div *ngIf="isSubmitted && errors.name" class="invalid">
                    <div>{{ errors.name }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <select class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.gender.errors || errors.gender) }"
                    formControlName="gender">
                    <option value="">GENDER</option>
                    <option value="male">MALE</option>
                    <option value="female">FEMALE</option>
                  </select>
                </div>
              </div>
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.date_of_birth.errors || errors.date_of_birth) }"
                    formControlName="date_of_birth" placeholder="DOB" />
                  <div *ngIf="isSubmitted && errors && errors.date_of_birth" class="invalid">
                    <div>{{ errors.date_of_birth[0] }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.residence.errors || errors.residence)}"
                    formControlName="residence" placeholder="CITY OF RESIDENCE" />
                  <div *ngIf="isSubmitted && errors && errors.residence" class="invalid">
                    <div>{{ errors.residence[0] }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <select class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.nationality.errors || errors.nationality)}"
                    formControlName="nationality">
                    <option value="">NATIONALITY</option>
                    <option value="afghan">Afghan</option>
                    <option value="albanian">Albanian</option>
                    <option value="algerian">Algerian</option>
                    <option value="american">American</option>
                    <option value="andorran">Andorran</option>
                    <option value="angolan">Angolan</option>
                    <option value="antiguans">Antiguans</option>
                    <option value="argentinean">Argentinean</option>
                    <option value="armenian">Armenian</option>
                    <option value="australian">Australian</option>
                    <option value="austrian">Austrian</option>
                    <option value="azerbaijani">Azerbaijani</option>
                    <option value="bahamian">Bahamian</option>
                    <option value="bahraini">Bahraini</option>
                    <option value="bangladeshi">Bangladeshi</option>
                    <option value="barbadian">Barbadian</option>
                    <option value="barbudans">Barbudans</option>
                    <option value="batswana">Batswana</option>
                    <option value="belarusian">Belarusian</option>
                    <option value="belgian">Belgian</option>
                    <option value="belizean">Belizean</option>
                    <option value="beninese">Beninese</option>
                    <option value="bhutanese">Bhutanese</option>
                    <option value="bolivian">Bolivian</option>
                    <option value="bosnian">Bosnian</option>
                    <option value="brazilian">Brazilian</option>
                    <option value="british">British</option>
                    <option value="bruneian">Bruneian</option>
                    <option value="bulgarian">Bulgarian</option>
                    <option value="burkinabe">Burkinabe</option>
                    <option value="burmese">Burmese</option>
                    <option value="burundian">Burundian</option>
                    <option value="cambodian">Cambodian</option>
                    <option value="cameroonian">Cameroonian</option>
                    <option value="canadian">Canadian</option>
                    <option value="cape verdean">Cape Verdean</option>
                    <option value="central african">Central African</option>
                    <option value="chadian">Chadian</option>
                    <option value="chilean">Chilean</option>
                    <option value="chinese">Chinese</option>
                    <option value="colombian">Colombian</option>
                    <option value="comoran">Comoran</option>
                    <option value="congolese">Congolese</option>
                    <option value="costa rican">Costa Rican</option>
                    <option value="croatian">Croatian</option>
                    <option value="cuban">Cuban</option>
                    <option value="cypriot">Cypriot</option>
                    <option value="czech">Czech</option>
                    <option value="danish">Danish</option>
                    <option value="djibouti">Djibouti</option>
                    <option value="dominican">Dominican</option>
                    <option value="dutch">Dutch</option>
                    <option value="east timorese">East Timorese</option>
                    <option value="ecuadorean">Ecuadorean</option>
                    <option value="egyptian">Egyptian</option>
                    <option value="emirian">Emirian</option>
                    <option value="equatorial guinean">Equatorial Guinean</option>
                    <option value="eritrean">Eritrean</option>
                    <option value="estonian">Estonian</option>
                    <option value="ethiopian">Ethiopian</option>
                    <option value="fijian">Fijian</option>
                    <option value="filipino">Filipino</option>
                    <option value="finnish">Finnish</option>
                    <option value="french">French</option>
                    <option value="gabonese">Gabonese</option>
                    <option value="gambian">Gambian</option>
                    <option value="georgian">Georgian</option>
                    <option value="german">German</option>
                    <option value="ghanaian">Ghanaian</option>
                    <option value="greek">Greek</option>
                    <option value="grenadian">Grenadian</option>
                    <option value="guatemalan">Guatemalan</option>
                    <option value="guinea-bissauan">Guinea-Bissauan</option>
                    <option value="guinean">Guinean</option>
                    <option value="guyanese">Guyanese</option>
                    <option value="haitian">Haitian</option>
                    <option value="herzegovinian">Herzegovinian</option>
                    <option value="honduran">Honduran</option>
                    <option value="hungarian">Hungarian</option>
                    <option value="icelander">Icelander</option>
                    <option value="indian">Indian</option>
                    <option value="indonesian">Indonesian</option>
                    <option value="iranian">Iranian</option>
                    <option value="iraqi">Iraqi</option>
                    <option value="irish">Irish</option>
                    <option value="israeli">Israeli</option>
                    <option value="italian">Italian</option>
                    <option value="ivorian">Ivorian</option>
                    <option value="jamaican">Jamaican</option>
                    <option value="japanese">Japanese</option>
                    <option value="jordanian">Jordanian</option>
                    <option value="kazakhstani">Kazakhstani</option>
                    <option value="kenyan">Kenyan</option>
                    <option value="kittian and nevisian">Kittian and Nevisian</option>
                    <option value="kuwaiti">Kuwaiti</option>
                    <option value="kyrgyz">Kyrgyz</option>
                    <option value="laotian">Laotian</option>
                    <option value="latvian">Latvian</option>
                    <option value="lebanese">Lebanese</option>
                    <option value="liberian">Liberian</option>
                    <option value="libyan">Libyan</option>
                    <option value="liechtensteiner">Liechtensteiner</option>
                    <option value="lithuanian">Lithuanian</option>
                    <option value="luxembourger">Luxembourger</option>
                    <option value="macedonian">Macedonian</option>
                    <option value="malagasy">Malagasy</option>
                    <option value="malawian">Malawian</option>
                    <option value="malaysian">Malaysian</option>
                    <option value="maldivan">Maldivan</option>
                    <option value="malian">Malian</option>
                    <option value="maltese">Maltese</option>
                    <option value="marshallese">Marshallese</option>
                    <option value="mauritanian">Mauritanian</option>
                    <option value="mauritian">Mauritian</option>
                    <option value="mexican">Mexican</option>
                    <option value="micronesian">Micronesian</option>
                    <option value="moldovan">Moldovan</option>
                    <option value="monacan">Monacan</option>
                    <option value="mongolian">Mongolian</option>
                    <option value="moroccan">Moroccan</option>
                    <option value="mosotho">Mosotho</option>
                    <option value="motswana">Motswana</option>
                    <option value="mozambican">Mozambican</option>
                    <option value="namibian">Namibian</option>
                    <option value="nauruan">Nauruan</option>
                    <option value="nepalese">Nepalese</option>
                    <option value="new zealander">New Zealander</option>
                    <option value="ni-vanuatu">Ni-Vanuatu</option>
                    <option value="nicaraguan">Nicaraguan</option>
                    <option value="nigerien">Nigerien</option>
                    <option value="north korean">North Korean</option>
                    <option value="northern irish">Northern Irish</option>
                    <option value="norwegian">Norwegian</option>
                    <option value="omani">Omani</option>
                    <option value="pakistani">Pakistani</option>
                    <option value="palauan">Palauan</option>
                    <option value="panamanian">Panamanian</option>
                    <option value="papua new guinean">Papua New Guinean</option>
                    <option value="paraguayan">Paraguayan</option>
                    <option value="peruvian">Peruvian</option>
                    <option value="polish">Polish</option>
                    <option value="portuguese">Portuguese</option>
                    <option value="qatari">Qatari</option>
                    <option value="romanian">Romanian</option>
                    <option value="russian">Russian</option>
                    <option value="rwandan">Rwandan</option>
                    <option value="saint lucian">Saint Lucian</option>
                    <option value="salvadoran">Salvadoran</option>
                    <option value="samoan">Samoan</option>
                    <option value="san marinese">San Marinese</option>
                    <option value="sao tomean">Sao Tomean</option>
                    <option value="saudi">Saudi</option>
                    <option value="scottish">Scottish</option>
                    <option value="senegalese">Senegalese</option>
                    <option value="serbian">Serbian</option>
                    <option value="seychellois">Seychellois</option>
                    <option value="sierra leonean">Sierra Leonean</option>
                    <option value="singaporean">Singaporean</option>
                    <option value="slovakian">Slovakian</option>
                    <option value="slovenian">Slovenian</option>
                    <option value="solomon islander">Solomon Islander</option>
                    <option value="somali">Somali</option>
                    <option value="south african">South African</option>
                    <option value="south korean">South Korean</option>
                    <option value="spanish">Spanish</option>
                    <option value="sri lankan">Sri Lankan</option>
                    <option value="sudanese">Sudanese</option>
                    <option value="surinamer">Surinamer</option>
                    <option value="swazi">Swazi</option>
                    <option value="swedish">Swedish</option>
                    <option value="swiss">Swiss</option>
                    <option value="syrian">Syrian</option>
                    <option value="taiwanese">Taiwanese</option>
                    <option value="tajik">Tajik</option>
                    <option value="tanzanian">Tanzanian</option>
                    <option value="thai">Thai</option>
                    <option value="togolese">Togolese</option>
                    <option value="tongan">Tongan</option>
                    <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                    <option value="tunisian">Tunisian</option>
                    <option value="turkish">Turkish</option>
                    <option value="tuvaluan">Tuvaluan</option>
                    <option value="ugandan">Ugandan</option>
                    <option value="ukrainian">Ukrainian</option>
                    <option value="uruguayan">Uruguayan</option>
                    <option value="uzbekistani">Uzbekistani</option>
                    <option value="venezuelan">Venezuelan</option>
                    <option value="vietnamese">Vietnamese</option>
                    <option value="welsh">Welsh</option>
                    <option value="yemenite">Yemenite</option>
                    <option value="zambian">Zambian</option>
                    <option value="zimbabwean">Zimbabwean</option>
                  </select>
                </div>
              </div>

              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <select class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.marital_status.errors || errors.marital_status) }"
                    formControlName="marital_status">
                    <option value="">MARITAL STATUS</option>
                    <option value="single">SINGLE</option>
                    <option value="married">MARRIED</option>
                    <option value="unavailable">PREFER NOT TO SAY</option>
                  </select>
                  <div *ngIf="isSubmitted && errors && errors.marital_status" class="invalid">
                    <div>{{ errors.marital_status[0] }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.major.errors || errors.major)}" formControlName="major"
                    placeholder="MAJOR" />
                  <div *ngIf="isSubmitted && errors && errors.major" class="invalid">
                    <div>{{ errors.major[0] }} </div>
                  </div>
                </div>
              </div>

              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.degree.errors || errors.degree) }"
                    formControlName="degree" placeholder="DEGREE" />
                  <div *ngIf="isSubmitted && errors && errors.degree" class="invalid">
                    <div>{{ errors.degree[0] }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.university.errors || errors.university)}"
                    formControlName="university" placeholder="UNIVERSITY" />
                  <div *ngIf="isSubmitted && errors && errors.university" class="invalid">
                    <div>{{ errors.university[0] }} </div>
                  </div>
                </div>
              </div>

              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.years_of_experience.errors || errors.years_of_experience) }"
                    formControlName="years_of_experience" placeholder="YEARS OF EXPERIENCE" />
                  <div *ngIf="isSubmitted && errors && errors.years_of_experience" class="invalid">
                    <div>{{ errors.years_of_experience[0] }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <select class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.employment_status.errors || errors.employment_status)}"
                    formControlName="employment_status">
                    <option value="">EMPLOYMENT STATUS</option>
                    <option value="employed">EMPLOYED</option>
                    <option value="unemployed">UNEMPLOYED</option>
                  </select>
                </div>
              </div>

              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.expected_salary.errors || errors.expected_salary)}"
                    formControlName="expected_salary" placeholder="EXPECTED SALARY" />
                  <div *ngIf="isSubmitted && errors && errors.expected_salary" class="invalid">
                    <div>{{ errors.expected_salary[0] }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.phone_number.errors || errors.phone_number)}"
                    formControlName="phone_number" placeholder="CONTACT NUMBER" />
                  <div *ngIf="isSubmitted && errors && errors.phone_number" class="invalid">
                    <div>{{ errors.phone_number[0] }} </div>
                  </div>
                </div>
              </div>

              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.email.errors || errors.email) }" placeholder="EMAIL"
                    formControlName="email" />
                  <div *ngIf="isSubmitted && errors && errors.email" class="invalid">
                    <div>{{ errors.email[0] }} </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <select class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.visa_status.errors || errors.visa_status) }"
                    formControlName="visa_status">
                    <option value="">VISA STATUS</option>
                    <option value="visit">VISIT</option>
                    <option value="residence">RESIDENCE</option>
                    <option value="employment">EMPLOYMENT</option>
                  </select>
                </div>
              </div>

              <div class="col-6 col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': isSubmitted && (f.bio.errors || errors.bio)}"
                    placeholder="TELL US ABOUT YOU (OPTIONAL)" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-12">
                <button class="btn btn-primary btn-block button">Submit</button>
              </div>
            </div>
          </form>
        </ng-container>

        <ng-container *ngIf="success">
          <div class="success-container text-center">
            <div class="success-circle">
              <div class="content">
                <fa name="check"></fa>
              </div>
            </div>
            <div class="text-center mt-2">
              <p class="title">Thank you!</p>
              <p class="title-sm">We will get back to you shortly</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


  <div class="container mt-4">
    <!-- Who is ITCAN -->
    <div class="row section">
      <div class="col-12 text-center">
        <h1>Who is ITCAN?</h1>
        <p class="content">
          Itcan was founded in Dubai in 2015, it started with Performance Marketing & Digital Marketing Services and now
          it
          is the leading Saudi e-commerce digital marketing company in the Middle East region focusing on enabling
          leading
          brands to enable their business and technology growth.
        </p>
      </div>
    </div>

    <div class="row section text-center">
      <div class="col-12 col-sm-4">
        <div class="card">
          <div class="text-center">
            <img class="mt-4" height="50" src="../assets/images/eye-open.png" alt="vision">
          </div>
          <div class="card-body">
            <h4 class="card-title">Vision</h4>
            <p class="card-text">To be the leading e-commerce growth consultancy in the Middle East</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="card">
          <div class="text-center">
            <img class="mt-4" height="50" src="../assets/images/mission.png" alt="Mission">
          </div>
          <div class="card-body">
            <h4 class="card-title">Mission</h4>
            <p class="card-text">To be the leading e-commerce growth consultancy in the Middle East</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="card">
          <div class="text-center">
            <img class="mt-4" height="50" src="../assets/images/value.png" alt="value">
          </div>
          <div class="card-body">
            <h4 class="card-title">Value</h4>
            <p class="card-text">To be the leading e-commerce growth consultancy in the Middle East</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Who is ITCAN? -->

    <!-- What we are -->
    <div class="row section">
      <div class="text-center">
        <h1>What We Are?</h1>

        <div class="row section mt-4 pt-4">
          <div class="col-sm-12 col-md-3">
            <img height="130" width="130" src="../assets/images/Layer 2.png" alt="value">
            <p class="subtitle">App Installs</p>
            <p>We are experts in increasing and maintaining the quality of App downloads.</p>
          </div>
          <div class="col-sm-12 col-md-3">
            <img height="130" width="130" src="../assets/images/Layer 2-1.png" alt="value">
            <p class="subtitle">Brand Awareness</p>
            <p>We have the right channels to increase your reach in your target locations.</p>
          </div>
          <div class="col-sm-12 col-md-3">
            <img height="130" width="130" src="../assets/images/Layer 2-2.png" alt="value">
            <p class="subtitle">Customer Acquisition</p>
            <p>We will attract and acquire your target customer base in the region.</p>
          </div>
          <div class="col-12 col-md-3">
            <img height="130" width="130" src="../assets/images/Layer 2-3.png" alt="value">
            <p class="subtitle">Revenue Generation</p>
            <p>We have a proven track record in scaling online orders and revenue.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End what we are -->

    <!-- Locations -->
    <div class="row mt-5">
      <div class="col-12 col-sm-12 text-center">
        <h1>Our Locations</h1>
      </div>

      <div class="col-12 col-sm-12">
        <div class="row text-center">
          <div class="col-sm-12 col-md-4">
            <img width="300" src="../assets/images/Group 4423.png" alt="Dubai">
          </div>

          <div class="col-sm-12 col-md-4">
            <img width="300" src="../assets/images/Group 4424.png" alt="Dubai">
          </div>

          <div class="col-sm-12 col-md-4">
            <img width="300" src="../assets/images/Group 4425.png" alt="Dubai">
          </div>
        </div>
      </div>
    </div>
    <!-- End Locations -->

    <!-- Our Clients -->
    <div class="row mt-5 text-center">
      <div class="col-12 col-sm-12">
        <h1>Our Clients</h1>
      </div>

      <div class="col-12 col-sm-12">
        <div class="row">
          <div class="col-6 offset-md-1 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/boohoo-light.png" alt="Boohoo">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/Group 5148.png" alt="Arabian Oud">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/ghawali-logo.png" alt="Ghawali">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/loccitane.png" alt="Loccitane">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/matic.png" alt="Matic">
            </div>
          </div>
          <div class="col-6 offset-sm-1 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/mikyajy.png" alt="Mikyajy">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/mumzworld-l.png" alt="Mumz World">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/nisnass.png" alt="Nisnass">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/ounass.png" alt="Ounass">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="icon-container">
              <span class="helper"></span>
              <img class="icon" width="409" src="../assets/images/tajawal-en.png" alt="Tajawal">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End our clients -->
  </div>

  <div class="container">
    <!-- Industries -->
    <div class="mt-5 text-center">
      <div class="row section">
        <div class="col-12 col-sm-12">
          <h1>Industries</h1>
        </div>
      </div>

      <div class="row section">
        <div class="col-12 col-sm-4">
          <div>
            <img class="card-img-top" src="../assets/images/D - Home.png" alt="Home">
            <div>
              <h4>Home</h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div>
            <img class="card-img-top" src="../assets/images/D - Electronics.png" alt="Electronics">
            <div>
              <h4>Electronics</h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div>
            <img class="card-img-top" src="../assets/images/D - Travel.png" alt="Travel">
            <div>
              <h4>Travel</h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div>
            <img class="card-img-top" src="../assets/images/D - Fashion.png" alt="Fashion">
            <div>
              <h4>Fashion</h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div>
            <img class="card-img-top" src="../assets/images/D - Fragrance.png" alt="Fragrance">

            <div>
              <h4>Fragrance</h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div>
            <img class="card-img-top" src="../assets/images/D - Cosmetics.png" alt="Cosmetics">

            <div>
              <h4>Cosmetics</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Industries -->
  </div>

  <div class="footer p-2 text-center">
    <div class="section">
      <img class="mt-4" height="70" src="../assets/images/logo@2x.png" alt="logo">
    </div>
    <div class="mb-2">
      <img class="m-2" height="20" src="../assets/images/iconmonstr-facebook-1.png" alt="facebook">
      <img class="m-2" height="20" src="../assets/images/iconmonstr-twitter-1.png" alt="twitter">
      <img class="m-2" height="20" src="../assets/images/iconmonstr-instagram-11.png" alt="instagram">
      <img class="m-2" height="20" src="../assets/images/iconmonstr-linkedin-1.png" alt="linkedin">
    </div>
    <div class="mt-2 mb-2 footer-text">
      &copy; From ITCAN with &#9829;
    </div>
    <div class="mt-2 mb-2">
      <img height="60" src="../assets/images/google.png" alt="google">
    </div>
  </div>
</div>
