// Colours
$primary: #D2345B;
$secondary: #F95D5D;
$white: #FFFFFF;
$black: #000000;
$light: #FEFEFE;
$light-gray: #F9F9F9;
$gray: #6B6B6B;
$danger: #FF0000;
$title: #161E6D;

// Backgrounds
$body-bg: $white;

// Borders
$border-color: $light-gray;
$border-radius: 10px;
$border-radius-lg: 20px;

// Fonts
$body-color: $black;
$h1-font-size: 35px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 22px;
$h6-font-size: 18px;
$input-font-size: 14px;

// Cards
$card-border-width: 0;

// Margin
$margin-sm: 10px;
$margin-md: 20px;
$margin-lg: 30px;

// Padding
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 30px;
