/* You can add global styles to this file, and also import other style files */
@import 'variables';

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Nunito Sans Black';
  src: url('../fonts/NunitoSans-Black.ttf') format("opentype");
}

body {
  background-color: $white;
  margin: 0;
  padding: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans';
  text-transform: uppercase;
  margin-top: $margin-md;
  margin-bottom: $margin-md;
  font-weight: bold;
}

h1 {
  font-size: $h1-font-size;
  display: inline-block;
  position: relative;
  margin-bottom: $margin-lg;
  padding-bottom: $padding-lg;
}

h1:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  bottom: 0;
  left: 40%;
  background: transparent linear-gradient(90deg, $secondary 0%, $primary 100%) 0% 0% no-repeat padding-box;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  font-family: 'Nunito Sans';
}

p.content {
  line-height: 2;
  padding-left: $padding-lg;
  padding-right: $padding-lg;
}

p.title,
p.title-sm {
  color: $title;
}

p.title {
  font-size: $content-font-size;
}

p.title-sm {
  color: $title;
  font-size: $subtitle-font-size;
}

p.subtitle {
  font-family: 'Nunito Sans Black';
  font-size: $h6-font-size;
  margin-top: $margin-sm;
  margin-bottom: $margin-sm;
}

/* Layout */
.section {
  padding: $padding-md;
}

.icon-container {
  background: transparent linear-gradient(180deg, $secondary 0%, $primary 100%) 0% 0% no-repeat;
  opacity: 1;
  width: 150px;
  height: 150px;
  white-space: nowrap;
  border-radius: 100%;
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img.icon {
    vertical-align: middle;
    width: 95%;
    max-height: 100px;
    max-width: 100px;
  }
}

.contact-card {
  background: url('../images/undraw_online_cv_qy9w@2x.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 350px auto;
  min-height: 200px;
}

.success-circle {
  background: transparent linear-gradient(134deg, $secondary 0%, $primary 100%) 0% 0% no-repeat padding-box;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: auto;
  margin-bottom: $margin-md;
  color: $white;
  font-size: 140px;
  line-height: 300px;
}

.footer {
  background-image: radial-gradient(at bottom left, rgb(249, 93, 93, 0.1) 70%, transparent 10%);
  background-size: 120% 100%;
  background-repeat: no-repeat;
}

.footer-text {
  font-size: $footer-font-size;
  letter-spacing: 0;
  color: $gray;
}

/* Cards */
.card {
  padding: $padding-md;
  border-radius: $border-radius-lg;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: none;
  margin-top: 4%;
  margin-bottom: 4%;
}

.card-title {
  font-family: 'Nunito Sans Black';
  text-transform: none;
}

/* Buttons */
.button {
  background: transparent linear-gradient(90deg, $secondary 0%, $primary 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  border: none;
  font-family: 'Nunito Sans';
  text-transform: uppercase;
  height: $button-height;
}

/* Forms */
.form-control {
  background: #F9F9F9 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  border: none;
  font-family: 'Nunito Sans';
  font-size: $input-font-size !important;
}

.is-invalid {
  border: 1px solid $danger;
}

.invalid {
  color: $danger;
  font-size: $footer-font-size;
}

/* Utilities */
.margin-auto {
  margin: auto;
}
